@import "abstracts/variables";

@import "base/base";

@import "components/forms";

@import "layout/_add-task-modal";

.top-bar {

    display: flex;
    align-items: center;
    padding-left: 2rem;
    height: 5rem;
    background-color: #171717;
    color: #fff7f1;
}

.logo {

    font-size: 1.5rem;
    font-weight: 700;
}

.middle {

    display: flex;
    flex: 1;
}

.navbar {

    padding: 2rem 1.5rem 0 2rem;
    width: 25rem;
    background-color: #fcfaf8;

    &__inner {

        width: 100%;
    }

    &__category {

        display: flex;
        justify-content: space-between;
        font-size: 1.5rem;
        font-weight: 400;

        & * {

            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
        }

        &:not(:last-child) {

            margin-bottom: 3rem;
        }
    }
}

.nav-title {

    color: #444444;
}

.nav-items {

    color: #444444;
}


.main-window {

    flex: 1;
    background-color: #e8e1db;

    &__inner {

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        // padding: 10rem 15rem;

        // & > * {

        //     // m    argin: 10% 10%;
        // }
    }
}

.toolbar {

    height: 5rem;
    background-color: #52504f;
}

.task-display {

    display: flex;
    flex-direction: column;
    width: 35rem;
    height: 50rem;
    margin: 5% 2.5% 5% 5%;
    // overflow-x: visible;


    &__tabs {

        display: flex;
        align-items: flex-end;
        width: 90%;
        height: 3rem;

        & > * {

            flex: 1;
            height: 100%;
            text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
        }

        .closed {

            &:hover {

                height: 3.5rem;
            }
        }
    }

    &__top {

        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 4rem;

        .add-task-icon {

            margin-right: 1rem;
            font-size: 1.7rem;
            color: #ffffff;
            text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);

            &:hover {

                cursor: pointer;
            }
        }
    }

    &__main {

        flex: 1;
        background-color: #fcfaf8;
        max-width: 35rem;
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.05);
        overflow-y: auto;
        // overflow-x: visible;

    }
}

.color-assigned {

    background-color: var(--purple);
}

.color-open {

    background-color: var(--blue);
}

.color-hold {

    background-color: var(--orange);
}

.color-complete {

    background-color: var(--green);
}

.color-rejected {

    background-color: var(--red);
}

.open {
    display: flex;
    flex-grow: 1.5;
    // width: 10rem;
    justify-content: center;
    align-items: center;
    height: 4rem;
    padding: 1rem;
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: bold;
}

.closed {

    flex-shrink: 1;
    // width: 2%;

    &>* {

        display: none;
    }
}

.slider-full,
.slider-open {

    transition: min-width 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: bold;
}

.slider-full {
    min-width: 100%;
}

.slider-open {


    min-width: 40%;
    
    & > div {
        cursor: pointer;
    }
}

.slider-closed {

    transition: min-width 0.5s;
    min-width: 2%;

    &>* {

        display: none;
    }
}

.inner-shadow-bottom-tiny {
    box-shadow: inset 0 -0.1rem 0.2rem -0.1rem rgba(0, 0, 0, 0.3);
}

.task {

    display: flex;
    height: 10rem;
    flex-grow: 1;
    background-color: #ffffff;
    overflow-x: hidden;

    // box-shadow: inset 0 -0.1rem 0.2rem -0.1rem rgba(0, 0, 0, 0.3);

    &__body {

        display: flex;
        flex-direction: column;
        padding: 1rem;
        min-width: 98%;

    }

    &__body-top {

        display: flex;
        height: 50%;
    }

    &__body-desc {

        width: 80%;
        font-size: 1.1rem;
    }

    &__body-star {

        display: flex;
        justify-content: flex-end;
        width: 20%;
        font-size: 1.5rem;

        &>i {

            height: max-content;

            &:hover {

                cursor: pointer;
            }
        }
    }

    &__body-bottom {

        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        height: 50%;
        color: #5C5757;
    }

    &__body-user {

        display: flex;
        align-items: baseline;

        &>i {

            font-size: 1.7rem;
        }

        .user-name {

            margin-left: 1rem;
            font-style: italic;
        }
    }

    &__body-date {

        display: flex;
        align-items: center;

        &>i {

            font-size: 1.7rem;
            margin-right: 0.1rem;
            color: #8f8a87;
            transition: color 0.5s;

            &:hover {

                cursor: pointer;
                color: #5C5757;
            }
        }
    }

    &__complete {

        background-color: var(--green);
        // width: 1%;
        box-shadow: inset 0 -0.1rem 0.2rem -0.1rem rgba(0, 0, 0, 0.3);
    }

    &__reject {

        background-color: var(--red);
        // width: 1%;
        box-shadow: inset 0 -0.1rem 0.2rem -0.1rem rgba(0, 0, 0, 0.3);
    }

    &__inactive {

        background-color: #52504f;
        // width: 1%;
        box-shadow: inset 0 -0.1rem 0.2rem -0.1rem rgba(0, 0, 0, 0.3);
    }
}

.star-active {
    transition: color 0.5s;
    color: var(--gold);
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2)
}

.star-hold {
    transition: color 0.5s;
    color: var(--dark-red);
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2)
}

.star-inactive {
    transition: color 0.5s;
    color: #52504f;
}

.column {

    display: flex;
    flex-direction: column;
}

.stats-display {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 50rem;
    flex: 1;
    margin: 5% 5% 5% 2.5%;
    background-color: #ffffff;
    font-size: 2rem;
}


footer {

    display: flex;
    flex-shrink: 0;
    height: 3rem;
}

.bottom-bar {

    height: 3rem;
}

.modal-backdrop {

    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 1s, backdrop-filter 1s;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;

    &__window {

        display: flex;
        justify-content: center;
        align-items: center;
        height: 60%;
        background-color: #ffffff;
        box-shadow: 0 0 3rem -1rem rgba(0, 0, 0, 0.7);
        opacity: 0;

        &-closebtn {

            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 1.5rem;
            right: 1.5rem;
            height: 1.5rem;
            font-size: 3rem;
            overflow: hidden;

            &:hover {

                cursor: pointer;
            }
        }
    }
}

.add-task-wrapper {

    display: flex;
    height: 70%;
    width: 70%;

}

.modal-open {

    transition: background-color 1s, backdrop-filter 1s;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);

    & * {

        transition: opacity 0.5s;
        opacity: 1;
    }
}

.modal-fade {

    transition: opacity 1s;
    opacity: 0;

    & * {

        transition: opacity 0.5s;
        opacity: 0;
    }
}

.overflow-hidden {
    overflow: hidden;
}
